<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="URL" value="https://www.phptravels.net/admin"/>
    <add key="UserName" value="admin@phptravels.com"/>
    <add key="Password" value="demoadmin"/>
    <add key="Browser" value="CHROME"/>
    <add key ="ChromeDriverPath" value ="D:\Thangavel\ASPIRE\PoC\"/>
    <!--
    <add key="Browser" value="FIREFOX"/>
    <add key="Browser" value="IE"/>
    -->
    
  </appSettings>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
</configuration>